*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: #0a0b0d;
    
}

/* Header */

header{
    display:flex;
    flex-wrap: nowrap;
    padding: 2em 7em;;
    background-image: url('./img/back.jpg');
    height: 85%;
    background-position: cover; 
    
    background-size: 100vw;
    background-repeat: no-repeat;
}

.logo{
    flex-basis: 25%;
}

header .logo img{
    width: 170px;
    height: 100px;
}

header nav{
    flex-basis: 70%;
    color: white;
}

header ul{
    list-style: none;
    margin-top: 3em;    
}

header ul li{
    display: inline-block;
}

 li + li{
    margin-left: 2em;
}

li + li::after{
    content: '>';
}



nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Featured */

.featured{
    width: 80vw;
    margin: 2em auto 2em auto;
    height: fit-content;
   
}

.featured h1{
    color: #05688b;
    margin-left: 4em;
}

#next, #back{
    text-align: right;
    position: relative;
    right: 4em;
    color: white;
}

#more{
    text-align: center;
    color: #818181;
}

.movies{
    display: flex;
    justify-content: space-between;
    color: black;
    flex-wrap: wrap;
}

.movie{
    padding: 0.5em;
    margin: 0.5em;
    color: white;
    width: 130px;
}

.movie h2,h3{
    font-size: 1.1em;
}

.movie h3{
    color: #5c5c5c;
}

.movie img{
    width: 110px;
    height: 150px;
}

/* Utilities */

.hidden{
    display: none;
}